#table-result-search {
    text-align: start;
    vertical-align: middle;
    margin: 20px 0;
}

.field-result-search {
    display: block;
    width: 130px !important;
}

#table-result-search td, th{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

/*Odd rows of table*/
#table-result-search tr:nth-child(odd) {
    background-color: #2e619844;
}

/*Even table rows*/
#table-result-search tr:nth-child(even) {
    background-color: #2e619818;
}