:root {
    --buttons-widht: 70%;
    --buttons-height: 40px;
}

.button-primary {
    width: var(--buttons-widht);
    height: var(--buttons-height);
    background: var(--primary-color);
    color: var(--white);
    border-radius: 50px;
    text-transform: uppercase;
    justify-self: center;
}

.button-primary:hover, .button-primary:focus, .button-primary:active, .button-secondary:hover, .button-secondary:focus, .button-secondary:active, .back-button:hover, .back-button:focus, .back-button:active  {
    background: var(--white) !important;
    color: var(--primary-color) !important;
    font-weight: bold;
}

.button-secondary {
    width: var(--buttons-widht);
    height: var(--buttons-height);
    background: var(--tertiary-color);
    color: var(--white);
    border-radius: 50px;
    justify-self: center;
}

.btn span {
    text-transform: uppercase;
    font-weight: semi-bold;
}

.back-button {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 50px;
    background: var(--tertiary-color);
    color: var(--white);
    border-radius: 10px;
}

.back-button i {
   font-size: 30px;
}