:root {
    --mainImagePage--size: 50%;
    --mainImagePage--bg-color: #2e61989d;
}

#mainImagePage {
    width: var(--mainImagePage--size);
    background: var(--mainImagePage--bg-color);
    margin: 20px auto;
    padding: 50px;
    border-radius: 40px;
}