/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Import Google Font - Montserrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --mainContainer-extra-small: 575.98px;
  --mainContainer-small: 60%;
  --mainContainer-medium: 50%;
  --mainContainer-large: 40%;
  --mainContainer-extra-large: 40%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, arial, verdana;
}

body {
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

/*Main Container and Forms*/
#mainContainer{
  height: 100vh;
  max-width: var(--mainContainer-extra-small);
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  padding-top: 90px;
  padding-bottom: 80px;
}

#pageContent {
  max-width: var(--mainContainer-extra-small);
}
/*--------------*/

/*Extre small devices (mode landscape)*/
@media (min-height: 0px) and (max-height: 600px) {
  #mainContainer {
    display: none;
  }
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  #mainContainer {
    width: var(--mainContainer-small);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.500);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  #mainContainer {
    width: var(--mainContainer-medium);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.500);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  #mainContainer {
    width: var(--mainContainer-large);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.500);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  #mainContainer {
    width: var(--mainContainer-extra-large);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.500);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
