* {
    margin: 0px;
    padding: 0px;
}

:root {
    --header-size: 85px;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: var(--mainContainer-extra-small);
    height: 80px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    width: 210px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #header {
        width: var(--mainContainer-small);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #header {
        width: var(--mainContainer-medium);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #header {
        width: var(--mainContainer-large);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #header {
        width: var(--mainContainer-extra-large);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}